processor-parent/demo/src/main/resources/META-INF/config/xsd/component.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://yurconf.org/component"
    xmlns:tns="http://yurconf.org/component" elementFormDefault="qualified">

    <xs:element name="component">
        <xs:complexType>
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:NCName" use="required" />
            <xs:anyAttribute namespace="##any" />
        </xs:complexType>
    </xs:element>

    <xs:complexType name="TWithComponents">
        <xs:sequence>
            <xs:element ref="tns:component" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:NCName" use="optional" />
    </xs:complexType>

</xs:schema>