config-processor/src/main/resources/META-INF/config/xsd/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://baxter-it.com/config" xmlns:t="http://baxter-it.com/config/types"
    xmlns:tns="http://baxter-it.com/config" elementFormDefault="qualified">

    <xs:import schemaLocation="types.xsd" namespace="http://baxter-it.com/config/types" />

    <xs:element name="reference">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="parameter" type="tns:TParameter" />
                <xs:element name="variant" type="tns:TVariant" />
            </xs:choice>
            <xs:attribute name="id" type="xs:NCName" use="required" />
            <xs:attribute name="type" type="xs:string" use="optional" />
            <xs:attribute name="productId" type="xs:NCName" use="optional" />
            <xs:attribute name="componentId" type="xs:NCName" use="optional" />
            <xs:attribute name="configurationVersion" type="xs:string" use="optional" />
            <xs:attribute name="skipVariants" type="t:TBoolean" use="optional" />
        </xs:complexType>
    </xs:element>

    <xs:complexType name="TParameter">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" type="xs:string" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="TVariant">
        <xs:attribute name="id" type="xs:NCName" use="required" />
    </xs:complexType>

</xs:schema>